.custom-footer {
    background-color: #f1a493;
    color: #d4a373;
    padding: 10px 20px; 
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px; 
    gap: 10px; /* Reduce el espacio entre las secciones */
}

.footer-section {
    margin: 0 10px; /* Reducir el margen entre las secciones */
}
.footer-section p{
    color:#93183d;
}
.footer-section h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #700b29;
    text-transform: uppercase;
}

.footer-link {
    color: #93183d;
    text-decoration: none;
    padding: 3px 0;
    font-size: 0.9rem;
    text-align: center;
}

.footer-link:hover {
    color: #fefae0;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social-icons a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #93183d;;
    text-decoration: none;
}

.newsletter-input {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 300px;
    background-color: #fefae0;
    color: #6b4423;
}

.newsletter-button {
    padding: 8px 16px;
    background-color: #d4a373;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
}

.footer-bottom {
    text-align: center;
    margin-top: 5px; 
    padding-top: 5px; 
    border-top: 1px solid #93183d;
    font-size: 0.8rem;
    color: #d4a373;
}

.footer-bottom p {
    margin: 5px 0;
    color:#93183d;
}
.footer-botom a {
    color:#93183d;
}
.main-container-fot {
    padding: 30px;
    background-color: #efbfb4;
    border-radius: 10px;
    width: 700px;
    margin: 40px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}
.main-container-fot h1{
    text-align: center;
    color:#700b29
    
}
.content-fot{
    margin:10px;
    text-align: justify;
}
.content-fot h2{
    color:#700b29
}
.content-fot p{
    color:#93183d;   
}
.content-fot ul li{
    color:#93183d;
}