.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre las tarjetas */
}

.user-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
}

.user-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.user-info {
    margin-top: 10px;
}

.user-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.user-full-name {
    font-size: 0.9rem;
    color: #555;
}

.user-card .btn {
    margin-top: 10px;
    font-size: 0.9rem;
}