@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f1a493; 
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.shrimp-icon {
    color: #a23016;
    font-size: 2rem;
    margin-right: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    padding-left: 10px;
}

.shrimp-icon:hover {
    color: #b5d473;
    transform: scale(1.05);
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.search-options {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ecc4bb;
    border-radius: 15px;
}

.search-input {
    border: 2px solid #d4a373;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 1rem;
    color: #6b4423;
    width: 600%; 
    max-width: 600px; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-right: 400px;
}

.search-input::placeholder {
    color: #8b5e3c;
    text-align: center;
}

.search-input:focus {
    outline: none;
    border-color: #6b4423;
    box-shadow: 0 0 8px rgba(107, 68, 35, 0.4);
}

.custom-button {
    background-color: #D85436;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button:hover {
    background-color: #FF7043;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.navbar-container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #6b4423;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
    flex-grow: 1;
}
.search-bar{
    border-radius:10px;
}
.search-bar::placeholder{
    color:#93183d;
}
.search-bar:focus {
    outline: none !important;
    box-shadow: none !important;
}
.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conjunto-de-botones{
    gap: 5px; 
    padding: 5px 5px;
    background-color: #f5d7d0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    border: 1px solid #e69d8c;
}
.btn-inactive {
    background-color: #D85436;
    border: none;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}
.btn-active {
    background-color: #832f1c;
    border: none;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #b7452b;
}
.option-button:focus {
    outline: none !important;
    box-shadow: none !important;
}
.desplegable{
    background-color: #f5d7d0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.desplegable-item:hover{
    background-color: #fdf0ed;
}



@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-container {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-input {
        width: 90%;
        max-width: 400px;
    }

    .custom-button {
        width: 100%;
        text-align: center;
    }
};