body {
  background-color: #def0d6;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #93183d;
}

.profile-container {
  padding: 40px;
  background-color: #def0d6;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1150px;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.navbar-profile{
  background-color:  #efbfb4;
  color: #93183d;
  border-radius: 20px;
}

.navbar-profile h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #93183d;
}


.profile-photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #c75275;
}

.profile-info p {
  margin: 10px 0;
  font-size: 1rem;
  color: #93183d;
}

.recipes-section h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
  color: #93183d;
  border-bottom:2px solid #93183d ;
  padding-bottom: 10px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.recipe-card {
     width: 200px;
    height: 200px;
    background-color: #efbfb4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #d7d2a5;
    text-align: center;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.recipe-card img {
   width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 2px solid #f8f0cf;}

.recipe-card .recipe-name {
  font-size: 1.2rem;
    font-weight:500;
    color:#700b29;
}
a {
  text-decoration: none; 
  color: inherit; 
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
.btn-custom-all{
  margin-top:10px ;
}
.btn-custom {
  color: #ffffff;
  background-color: #D85436;
  border:none;
  padding: 12px 25px;
  border-radius: 20px; 
  font-size: 1rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  /* margin-top: 10px; */
}

.btn-custom:hover {
  background-color: #FF7043;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-custom.active {
  background-color: #efbfb4; /* Cambia el color de fondo para el botón activo */
  color: white; /* Color del texto para el botón activo */
  border: none; /* Borde del botón activo */
}

.btn-follow{
  background-color: #D85436;
  border: none;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
.btn-follow:hover{
  background-color: #FF7043;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}
.btn-custom.active {
  background-color: #efbfb4; /* Cambia el color de fondo para el botón activo */
  color: #700b29; /* Color del texto para el botón activo */
  border: none; /* Borde del botón activo */
}
.loading-spinner{
  margin-left: 20px;
  margin-top: 20px;
}
.btn{
   background-color: #D85436;
   color: #ffffff;
   border: none;
}
.btn:hover{
  background-color: #FF7043;
  border:none;
}
.btn:active {
  background-color: #df755d; /* Cambia el color de fondo para el botón activo */
  color: white; /* Color del texto para el botón activo */
  border: 1px solid #ab694f; /* Borde del botón activo */
}
.btn:focus{
  outline: none !important;
    box-shadow: none !important;
}
.modal-content{
  background-color: #def0d6;
  color:#700b29;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;

}
.modal-header{
  border-bottom: 1px transparent #efbfb4;
}

.modal .btn{
  margin-top: 5px;
}
.favorite-recipes-section h3{
  color: #700b29;
  font-family:"Poppins", sans-serif;
  border-bottom:2px solid #93183d ;
  padding-bottom: 10px;
}
.favorite-chefs-section h3{
  color: #700b29;
  font-family:"Poppins", sans-serif;
  border-bottom:2px solid #93183d ;
  padding-bottom: 10px;

}