body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefae0;
  color: #6b4423;
  margin: 0;
  padding: 0;
}

.profile-container {
  padding: 40px;
  background-color: #faedcd;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1150px;
  position: relative;
}

.navbar-profile {
  background-color: #d4a373;
  color: #6b4423;
  padding: 15px 30px;
  border-radius: 12px;
  /* margin-bottom: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.navbar-profile h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #6b4423;
}

.profile-sidebar {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #d4a373;
  text-align: center;
  margin-bottom: 40px;
}

.profile-photo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #d4a373;
}

.profile-info p {
  margin: 10px 0;
  font-size: 1rem;
  color: #6b4423;
}

.recipes-section h3 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #6b4423;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.recipe-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #d4a373;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.recipe-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  border: 2px solid #d4a373;
}

.recipe-card .recipe-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6b4423;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.btn-custom {
  color: #ffffff;
  background-color: #6b4423;
  border: solid 5px white;
  padding: 12px 25px;
  /* border-radius: 20px;  */
  font-size: 1rem;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  /* margin-top: 10px; */
}

.btn-custom:hover {
  background-color: #8b5e3c;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-custom.active {
  background-color: #ab694f; /* Cambia el color de fondo para el botón activo */
  color: white; /* Color del texto para el botón activo */
  border: 1px solid #ab694f; /* Borde del botón activo */
}
.btn-follow{
  background-color: #d4a373;
  border: none;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}
.btn-follow:hover{
  background-color: #ab694f;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}
.btn-custom.active {
  background-color: #ab694f; /* Cambia el color de fondo para el botón activo */
  color: white; /* Color del texto para el botón activo */
  border: 1px solid #ab694f; /* Borde del botón activo */
}